params {
    reads   = s3://eu-west-2-lb-featured-datasets/pipelines/rnatoy-data
    genome  = s3://eu-west-2-lb-featured-datasets/pipelines/rnatoy-data/ggal_1_48850000_49020000.Ggal71.500bpflank.fa
    annot   = s3://eu-west-2-lb-featured-datasets/pipelines/rnatoy-data/ggal_1_48850000_49020000.bed.gff
}
