name: CodeCov
# This workflow is triggered on PRs of type review_requested or ready_for_review, against dev or main
on:
  pull_request:
    types: [review_requested, ready_for_review]
    branches:
      - main
      - dev
  workflow_dispatch:
jobs:
  run:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        python_version: [3.7]
        os: [ubuntu-latest, macos-latest]
    env:
      OS: ${{ matrix.os }}
      PYTHON: ${{ matrix.python_version }}
    steps:
    - uses: actions/checkout@master
    - name: Setup Python
      uses: actions/setup-python@master
      with:
        python-version: ${{ matrix.python_version }}
    - name: Generate coverage report
      run: |
        pip install pytest pytest-cov requests-mock pandas
        python -m pytest -s -v --cov=./ --cov-report=xml
    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v3
      with:
        env_vars: OS,PYTHON
        fail_ci_if_error: true
        files: coverage.xml
        flags: unittests
        name: codecov-umbrella
        verbose: true
